@model QuickCollab.Models.StartSettingsViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Create new session</h2>

@using (Html.BeginForm("CreateSession"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Session details</legend>
        <span>Session Name:</span> @Html.TextBoxFor(m => m.SessionName)<br />
        <span>Visible in lobby:</span> @Html.CheckBoxFor(m => m.Public)<br />
        <span>Save session history:</span> @Html.CheckBoxFor(m => m.PersistHistory)<br />
        <span>Secured session:</span> @Html.CheckBoxFor(m => m.Secured)<br />
        <span>Password:</span> @Html.PasswordFor(m => m.SessionPassword)<br />
        <span>Connection Expiry:</span> @Html.DropDownListFor(m => m.ConnectionExpiryInHours, new SelectList(
                  new List<Object>{
                       new { value = 1 , text = "1 hour" },
                       new { value = 2 , text = "2 hours" },
                       new { value = 3 , text = "3 hours" },
                       new { value = 12 , text = "12 hours" },
                       new { value = 24 , text = "24 hours" },
                       new { value = 48 , text = "2 days" },
                       new { value = 72 , text = "4 days" }
                    },
                  "value",
                  "text",
        1))
        <input type="submit" value="Create" />
    </fieldset>
}

<div>
    @Html.ActionLink("Cancel", "Index")
</div>
